<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Login Page </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <a href='/'>Home</a>
    <a href='/login/register'>Register</a>
    <div class="col-sm-8 container">
      <div class="jumbotron">
        <h1>Login Page</h1>
        <form class="" action="/login/sign-in" method="post">
          <div>
            <label for="userName">Username: </label>
            <input type="text" name="userName" id="userName">
          </div>
          <div>
            <label for="password">Password: </label>
            <input type="password" name="password" value="" placeholder="enter your password here">
          </div>
          <button type="submit" id="submit" name="submit-name">Send</button>
        </form>
      </div>
    </div>
  </body>
</html>
