<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> <% title %> </title>
  </head>
  <body>
    <form class="" action="/login/sign-in" method="post">
      <label for="userID">Username: </label>
      <input type="text" name="userID" id="userID">
      <label for="password">Password: </label>
      <input type="password" name="password" value="" placeholder="enter your password here">
      <button type="submit" id="submit" name="submit-name">Send</button>
    </form>
  </body>
</html>
