<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title> <% title %> </title>
  </head>
  <body>
    <h1> <%= title %> </h1>
    <a href='/'>Home</a>
    <div class="uiScrollableAreaBody">
      <% for (var user in users) { %>
        <div class="card">
          <img src="coffee.png" alt="coffee" style="width:5%">
          <div><p><%= users[user].userName %> : <%= users[user].firstName %></p></div>
        </div>
      <% } %>
    </div>

    <h2>Create/Add User to Database</h2>
    <div class="">
      <form class="" action="/users/add" method="post">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name">
        <label for="userID">User ID: </label>
        <input type="text" name="userID" value="" placeholder="Please enter the user ID here">
        <button type="submit" id="submit" value="submitted">Submit</button>
      </form>
    </div>
  </body>
</html>
